Repository IoTeaTime/meong-ha-nyang-server, pull requests merged in 2024-10, with the labels that each got.

#3 feat: 프로젝트 생성
  meong-ha-nyang-server/.gitattributes
  meong-ha-nyang-server/.gitignore
  meong-ha-nyang-server/build.gradle
  meong-ha-nyang-server/gradle/wrapper/gradle-wrapper.jar
  meong-ha-nyang-server/gradle/wrapper/gradle-wrapper.properties
  meong-ha-nyang-server/gradlew
  meong-ha-nyang-server/gradlew.bat
  meong-ha-nyang-server/settings.gradle
  meong-ha-nyang-server/src/main/java/org/ioteatime/meonghanyangserver/MeongHaNyangServerApplication.java
  meong-ha-nyang-server/src/main/resources/application-dev.yaml
  meong-ha-nyang-server/src/main/resources/application-prod.yaml
  meong-ha-nyang-server/src/main/resources/application.yaml
  meong-ha-nyang-server/src/test/java/org/ioteatime/meonghanyangserver/MeongHaNyangServerApplicationTests.java
Labels: feature

#10 feat: 풀리퀘스트 CI 구현
  .github/workflows/ci-pull-request.yml
  src/test/java/org/ioteatime/meonghanyangserver/MeongHaNyangServerApplicationTests.java
Labels: feature

#14 feat: Jira 팀원 계정 추가
  .github/workflows/close-jira-issue.yml
  .github/workflows/create-jira-issue.yml
Labels: feature

#15 release: 배포를 진행합니다.
  .DS_Store
  .github/workflows/ci-pull-request.yml
  .github/workflows/close-jira-issue.yml
  .github/workflows/create-jira-issue.yml
  .gitignore
  .gradle/8.10.2/checksums/checksums.lock
  .gradle/8.10.2/dependencies-accessors/gc.properties
  .gradle/8.10.2/executionHistory/executionHistory.bin
  .gradle/8.10.2/executionHistory/executionHistory.lock
  .gradle/8.10.2/fileChanges/last-build.bin
  .gradle/8.10.2/fileHashes/fileHashes.bin
  .gradle/8.10.2/fileHashes/fileHashes.lock
  .gradle/8.10.2/fileHashes/resourceHashesCache.bin
  .gradle/8.10.2/gc.properties
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  .gradle/buildOutputCleanup/cache.properties
  .gradle/buildOutputCleanup/outputFiles.bin
  .gradle/file-system.probe
  .gradle/vcs-1/gc.properties
  build.gradle
  build/classes/java/main/org/ioteatime/meonghanyangserver/MeongHaNyangServerApplication.class
  build/resources/main/application-dev.yaml
  build/resources/main/application-prod.yaml
  build/resources/main/application.yaml
  build/tmp/compileJava/previous-compilation-data.bin
  src/main/java/org/ioteatime/meonghanyangserver/MeongHaNyangServerApplication.java
  src/main/java/org/ioteatime/meonghanyangserver/common/api/Api.java
  src/main/java/org/ioteatime/meonghanyangserver/common/api/Result.java
  src/main/java/org/ioteatime/meonghanyangserver/common/error/ErrorTypeCode.java
  src/main/java/org/ioteatime/meonghanyangserver/common/error/SuccessTypeCode.java
  src/main/java/org/ioteatime/meonghanyangserver/common/error/TypeCodeIfs.java
  src/main/java/org/ioteatime/meonghanyangserver/common/exception/ApiException.java
  src/main/java/org/ioteatime/meonghanyangserver/common/exception/ApiExceptionItf.java
  src/main/resources/application-dev.yaml
  src/main/resources/application.yaml
  src/test/java/org/ioteatime/meonghanyangserver/MeongHaNyangServerApplicationTests.java
Labels: release

#17 feat: User 도메인 추가
  .DS_Store
  HELP.md
  gradlew
  gradlew.bat
  src/main/java/org/ioteatime/meonghanyangserver/user/domain/UserEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/user/repository/JpaUserRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/user/repository/UserRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/user/repository/UserRepositoryImpl.java
Labels: feature

#20 fix: Jira 이슈 워크플로우 오류 수정
  .github/workflows/close-jira-issue.yml
  build.gradle
Labels: fix

#21 release: 서버 코드 병합
  .DS_Store
  .github/workflows/close-jira-issue.yml
  HELP.md
  build.gradle
  gradlew
  gradlew.bat
  src/main/java/org/ioteatime/meonghanyangserver/user/domain/UserEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/user/repository/JpaUserRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/user/repository/UserRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/user/repository/UserRepositoryImpl.java
Labels: release

#27 feat: exception handler 구현
  src/main/java/org/ioteatime/meonghanyangserver/common/exception/ApiException.java
  src/main/java/org/ioteatime/meonghanyangserver/common/exception/ApiExceptionItf.java
  src/main/java/org/ioteatime/meonghanyangserver/handler/ApiExceptionHandler.java
  src/main/java/org/ioteatime/meonghanyangserver/handler/GlobalExceptionHandler.java
Labels: feature

#25 feat: 회원 상세 정보 확인 구현
  build.gradle
  src/main/java/org/ioteatime/meonghanyangserver/config/SecurityConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/user/controller/UserApi.java
  src/main/java/org/ioteatime/meonghanyangserver/user/controller/UserController.java
  src/main/java/org/ioteatime/meonghanyangserver/user/dto/response/UserDetailResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/user/repository/UserRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/user/repository/UserRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/user/service/UserService.java
Labels: feature

#28 feat: 회원가입 기본 기능 구현
  src/main/java/org/ioteatime/meonghanyangserver/common/api/Api.java
  src/main/java/org/ioteatime/meonghanyangserver/config/SecurityConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/config/SecurityConfiguration.java
  src/main/java/org/ioteatime/meonghanyangserver/user/controller/JoinApi.java
  src/main/java/org/ioteatime/meonghanyangserver/user/controller/JoinController.java
  src/main/java/org/ioteatime/meonghanyangserver/user/domain/UserEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/user/dto/UserDto.java
  src/main/java/org/ioteatime/meonghanyangserver/user/dto/response/UserSimpleResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/user/repository/UserRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/user/repository/UserRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/user/service/JoinService.java
Labels: feature

#32 feat: 이메일 확인용 Gmail API 구현
  .gitignore
  build.gradle
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthApi.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthController.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/request/SendEmailRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/google/GoogleMailClient.java
  src/main/java/org/ioteatime/meonghanyangserver/config/OpenApiConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/config/SecurityConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/user/controller/JoinApi.java
  src/main/resources/application-dev.yaml
  src/main/resources/application.yaml
Labels: feature

#33 feat: 회원 탈퇴 기능 구현
  src/main/java/org/ioteatime/meonghanyangserver/user/controller/UserApi.java
  src/main/java/org/ioteatime/meonghanyangserver/user/controller/UserController.java
  src/main/java/org/ioteatime/meonghanyangserver/user/domain/UserEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/user/repository/UserRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/user/repository/UserRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/user/service/UserService.java
Labels: feature

#34 feat: 로그인 기능 구현
  build.gradle
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthApi.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthController.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/reponse/LoginResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/request/LoginRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
  src/main/java/org/ioteatime/meonghanyangserver/common/utils/JwtUtils.java
  src/main/java/org/ioteatime/meonghanyangserver/config/SecurityConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/config/SecurityConfiguration.java
  src/main/java/org/ioteatime/meonghanyangserver/filter/JwtRequestFilter.java
  src/main/java/org/ioteatime/meonghanyangserver/redis/RefreshToken.java
  src/main/java/org/ioteatime/meonghanyangserver/redis/RefreshTokenRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/user/dto/CustomUserDetail.java
  src/main/java/org/ioteatime/meonghanyangserver/user/repository/UserRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/user/repository/UserRepositoryImpl.java
  src/main/resources/application-dev.yaml
Labels: feature

#39 feat: group 생성 기능 구현
  src/main/java/org/ioteatime/meonghanyangserver/cctv/domain/CctvEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/common/utils/JwtUtils.java
  src/main/java/org/ioteatime/meonghanyangserver/config/SecurityConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/group/controller/GroupApi.java
  src/main/java/org/ioteatime/meonghanyangserver/group/controller/GroupController.java
  src/main/java/org/ioteatime/meonghanyangserver/group/domain/GroupEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/group/domain/GroupUserEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/group/domain/GroupUserId.java
  src/main/java/org/ioteatime/meonghanyangserver/group/domain/enums/GroupUserRole.java
  src/main/java/org/ioteatime/meonghanyangserver/group/dto/response/CreateGroupResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/group/mapper/group/GroupEntityMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/group/mapper/group/GroupResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/group/mapper/groupuser/GroupUserEntityMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/group/GroupRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/group/GroupRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/group/JpaGroupRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/groupuser/GroupUserRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/groupuser/GroupUserRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/groupuser/JpaGroupUserRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/group/service/GroupService.java
  src/main/java/org/ioteatime/meonghanyangserver/group/service/GroupUserService.java
  src/main/java/org/ioteatime/meonghanyangserver/user/dto/CustomUserDetail.java
  src/main/java/org/ioteatime/meonghanyangserver/video/entity/VideoEntity.java
Labels: feature

#38 feat: User Password 변경 구현
  src/main/java/org/ioteatime/meonghanyangserver/user/controller/UserApi.java
  src/main/java/org/ioteatime/meonghanyangserver/user/controller/UserController.java
  src/main/java/org/ioteatime/meonghanyangserver/user/domain/UserEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/user/dto/request/ChangePasswordRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/user/service/UserService.java
Labels: feature

#30 feat: 회원가입 이메일 중복 확인 기능구현
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthApi.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthController.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/request/EmailRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
  src/main/java/org/ioteatime/meonghanyangserver/user/domain/UserEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/user/dto/request/UserDto.java
  src/main/java/org/ioteatime/meonghanyangserver/user/dto/response/UserSimpleResponse.java
  src/main/resources/application-dev.yaml
Labels: feature

#42 feat: Security Context에서 로그인한 회원의 ID 정보 조회 구현, Swagger Authorization 헤더 추가
  src/main/java/org/ioteatime/meonghanyangserver/common/utils/LoginMember.java
  src/main/java/org/ioteatime/meonghanyangserver/config/OpenApiConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/user/controller/UserApi.java
  src/main/java/org/ioteatime/meonghanyangserver/user/controller/UserController.java
  src/main/java/org/ioteatime/meonghanyangserver/user/dto/CustomUserDetail.java
  src/main/java/org/ioteatime/meonghanyangserver/user/service/UserService.java
Labels: feature

#49 refactor: Mapper 구현, 프로필 설정 분리 등
  src/main/java/org/ioteatime/meonghanyangserver/auth/mapper/AuthEntityMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/mapper/AuthResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
  src/main/java/org/ioteatime/meonghanyangserver/common/api/Api.java
  src/main/java/org/ioteatime/meonghanyangserver/common/api/Result.java
  src/main/java/org/ioteatime/meonghanyangserver/common/error/ErrorTypeCode.java
  src/main/java/org/ioteatime/meonghanyangserver/common/error/SuccessTypeCode.java
  src/main/java/org/ioteatime/meonghanyangserver/common/error/TypeCode.java
  src/main/java/org/ioteatime/meonghanyangserver/common/exception/ApiException.java
  src/main/java/org/ioteatime/meonghanyangserver/common/exception/ApiExceptionImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/common/exception/ApiExceptionItf.java
  src/main/java/org/ioteatime/meonghanyangserver/common/utils/JwtUtils.java
  src/main/java/org/ioteatime/meonghanyangserver/filter/JwtRequestFilter.java
  src/main/java/org/ioteatime/meonghanyangserver/group/service/GroupService.java
  src/main/java/org/ioteatime/meonghanyangserver/handler/ApiExceptionHandler.java
  src/main/java/org/ioteatime/meonghanyangserver/user/domain/UserEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/user/dto/response/UserSimpleResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/user/mapper/UserResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/user/service/UserService.java
  src/main/resources/application-db.yaml
  src/main/resources/application-dev.yaml
  src/main/resources/application-key.yaml
  src/main/resources/application.yaml
Labels: refactor

#52 feat: Redis를 활용한 이메일 인증 코드 발송 구현
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/google/GoogleMailClient.java
  src/main/java/org/ioteatime/meonghanyangserver/config/RedisConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/redis/EmailCode.java
  src/main/java/org/ioteatime/meonghanyangserver/redis/EmailCodeRepository.java
Labels: feature

#53 feat: 뷰어 및 CCTV 초대를 위한 QR코드 데이터 요청 구현
  src/main/java/org/ioteatime/meonghanyangserver/cctv/dto/response/CctvInviteResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/JpaCctvRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/service/CctvService.java
  src/main/java/org/ioteatime/meonghanyangserver/common/utils/KvsChannelNameGenerator.java
  src/main/java/org/ioteatime/meonghanyangserver/group/controller/GroupApi.java
  src/main/java/org/ioteatime/meonghanyangserver/group/controller/GroupController.java
  src/main/java/org/ioteatime/meonghanyangserver/group/dto/response/GroupInfoResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/groupuser/GroupUserRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/groupuser/GroupUserRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/groupuser/JpaGroupUserRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/group/service/GroupUserService.java
Labels: feature

#55 feat: 이메일 인증 코드 검증 구현
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthApi.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthController.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/request/EmailRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/request/VerifyEmailRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
Labels: feature

#57 feat: 성공, 실패 타입 응답 구현
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthApi.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthController.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/request/LoginRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/mapper/AuthEntityMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
  src/main/java/org/ioteatime/meonghanyangserver/common/api/Api.java
  src/main/java/org/ioteatime/meonghanyangserver/common/api/Result.java
  src/main/java/org/ioteatime/meonghanyangserver/common/error/ErrorTypeCode.java
  src/main/java/org/ioteatime/meonghanyangserver/common/error/TypeCode.java
  src/main/java/org/ioteatime/meonghanyangserver/common/exception/ApiException.java
  src/main/java/org/ioteatime/meonghanyangserver/common/exception/ApiExceptionImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/common/exception/BadRequestException.java
  src/main/java/org/ioteatime/meonghanyangserver/common/exception/IllegalArgumentException.java
  src/main/java/org/ioteatime/meonghanyangserver/common/exception/InternalServerException.java
  src/main/java/org/ioteatime/meonghanyangserver/common/exception/NotFoundException.java
  src/main/java/org/ioteatime/meonghanyangserver/common/exception/UnauthorizedException.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/AuthErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/AuthSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/CommonErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/CommonSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/ErrorTypeCode.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/GroupErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/GroupSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/SuccessTypeCode.java
  src/main/java/org/ioteatime/meonghanyangserver/filter/JwtRequestFilter.java
  src/main/java/org/ioteatime/meonghanyangserver/group/controller/GroupController.java
  src/main/java/org/ioteatime/meonghanyangserver/group/mapper/group/GroupResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/group/service/GroupService.java
  src/main/java/org/ioteatime/meonghanyangserver/group/service/GroupUserService.java
  src/main/java/org/ioteatime/meonghanyangserver/handler/ApiExceptionHandler.java
  src/main/java/org/ioteatime/meonghanyangserver/handler/GlobalExceptionHandler.java
  src/main/java/org/ioteatime/meonghanyangserver/user/controller/UserController.java
  src/main/java/org/ioteatime/meonghanyangserver/user/domain/UserEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/user/dto/UserDto.java
  src/main/java/org/ioteatime/meonghanyangserver/user/dto/request/ChangePasswordRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/user/dto/request/JoinRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/user/service/UserService.java
Labels: feature

#58 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthApi.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthController.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/request/EmailRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/request/LoginRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/request/VerifyEmailRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/mapper/AuthEntityMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/dto/response/CctvInviteResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/JpaCctvRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/service/CctvService.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/google/GoogleMailClient.java
  src/main/java/org/ioteatime/meonghanyangserver/common/api/Api.java
  src/main/java/org/ioteatime/meonghanyangserver/common/api/Result.java
  src/main/java/org/ioteatime/meonghanyangserver/common/error/ErrorTypeCode.java
  src/main/java/org/ioteatime/meonghanyangserver/common/error/TypeCode.java
  src/main/java/org/ioteatime/meonghanyangserver/common/exception/ApiException.java
  src/main/java/org/ioteatime/meonghanyangserver/common/exception/ApiExceptionImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/common/exception/BadRequestException.java
  src/main/java/org/ioteatime/meonghanyangserver/common/exception/IllegalArgumentException.java
  src/main/java/org/ioteatime/meonghanyangserver/common/exception/InternalServerException.java
  src/main/java/org/ioteatime/meonghanyangserver/common/exception/NotFoundException.java
  src/main/java/org/ioteatime/meonghanyangserver/common/exception/UnauthorizedException.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/AuthErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/AuthSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/CommonErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/CommonSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/ErrorTypeCode.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/GroupErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/GroupSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/SuccessTypeCode.java
  src/main/java/org/ioteatime/meonghanyangserver/common/utils/KvsChannelNameGenerator.java
  src/main/java/org/ioteatime/meonghanyangserver/config/RedisConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/filter/JwtRequestFilter.java
  src/main/java/org/ioteatime/meonghanyangserver/group/controller/GroupApi.java
  src/main/java/org/ioteatime/meonghanyangserver/group/controller/GroupController.java
  src/main/java/org/ioteatime/meonghanyangserver/group/dto/response/GroupInfoResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/group/mapper/group/GroupResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/groupuser/GroupUserRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/groupuser/GroupUserRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/groupuser/JpaGroupUserRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/group/service/GroupService.java
  src/main/java/org/ioteatime/meonghanyangserver/group/service/GroupUserService.java
  src/main/java/org/ioteatime/meonghanyangserver/handler/ApiExceptionHandler.java
  src/main/java/org/ioteatime/meonghanyangserver/handler/GlobalExceptionHandler.java
  src/main/java/org/ioteatime/meonghanyangserver/redis/EmailCode.java
  src/main/java/org/ioteatime/meonghanyangserver/redis/EmailCodeRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/user/controller/UserController.java
  src/main/java/org/ioteatime/meonghanyangserver/user/domain/UserEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/user/dto/UserDto.java
  src/main/java/org/ioteatime/meonghanyangserver/user/dto/request/ChangePasswordRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/user/dto/request/JoinRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/user/service/UserService.java
Labels: release

#61 fix: 회원 가입 시 비밀번호 검증, Refresh Token 갱신 API 수정
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthApi.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthController.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/reponse/RefreshResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/AuthErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/user/controller/UserApi.java
  src/main/java/org/ioteatime/meonghanyangserver/user/controller/UserController.java
  src/main/java/org/ioteatime/meonghanyangserver/user/dto/request/JoinRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/user/service/UserService.java
Labels: fix
