Repository IoTeaTime/meong-ha-nyang-server, pull requests merged in 2024-11, with the labels that each got.

#64 fix: QueryDSL 설정 및 회원 탈퇴 수정
  .gitignore
  build.gradle
  src/main/java/org/ioteatime/meonghanyangserver/config/QueryDslConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/user/repository/UserRepositoryImpl.java
Labels: fix

#62 feat: 그룹 통합 데이터 조회 구현
  src/main/java/org/ioteatime/meonghanyangserver/cctv/domain/CctvEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/dto/response/CctvInfoResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/mapper/CctvResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/GroupErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/GroupSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/group/controller/GroupApi.java
  src/main/java/org/ioteatime/meonghanyangserver/group/controller/GroupController.java
  src/main/java/org/ioteatime/meonghanyangserver/group/domain/GroupEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/group/domain/GroupUserEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/group/dto/response/CreateGroupResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/group/dto/response/GroupTotalResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/group/dto/response/GroupUserInfoResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/group/mapper/group/GroupResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/group/mapper/groupuser/GroupUserResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/groupuser/GroupUserRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/groupuser/GroupUserRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/groupuser/JpaGroupUserRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/group/service/GroupService.java
  src/main/java/org/ioteatime/meonghanyangserver/group/service/GroupUserService.java
Labels: feature

#68 fix: erd 변경점 수정
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/domain/CctvEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/mapper/CctvResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/device/controller/DeviceApi.java
  src/main/java/org/ioteatime/meonghanyangserver/device/controller/DeviceController.java
  src/main/java/org/ioteatime/meonghanyangserver/device/doamin/DeviceEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/device/doamin/enums/DeviceRole.java
  src/main/java/org/ioteatime/meonghanyangserver/device/dto/response/DeviceInfoResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/device/mapper/DeviceEntityMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/device/mapper/DeviceResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/device/repository/DeviceRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/device/repository/DeviceRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/device/repository/JpaDeviceRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/device/service/DeviceService.java
  src/main/java/org/ioteatime/meonghanyangserver/filter/JwtRequestFilter.java
  src/main/java/org/ioteatime/meonghanyangserver/group/controller/GroupApi.java
  src/main/java/org/ioteatime/meonghanyangserver/group/controller/GroupController.java
  src/main/java/org/ioteatime/meonghanyangserver/group/domain/GroupEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/group/domain/GroupUserId.java
  src/main/java/org/ioteatime/meonghanyangserver/group/dto/request/CreateGroupRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/group/dto/response/GroupTotalResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/group/dto/response/GroupUserInfoResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/group/mapper/GroupEntityMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/group/mapper/GroupResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/group/mapper/groupuser/GroupUserEntityMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/group/mapper/groupuser/GroupUserResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/GroupRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/GroupRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/JpaGroupRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/groupuser/GroupUserRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/groupuser/GroupUserRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/groupuser/JpaGroupUserRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/group/service/GroupService.java
  src/main/java/org/ioteatime/meonghanyangserver/user/repository/UserRepositoryImpl.java
Labels: fix

#69 feat: CCTV와 KVS 신호 채널 삭제 구현
  build.gradle
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvApi.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvController.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/domain/CctvEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/dto/db/CctvWithDeviceId.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/service/CctvService.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/kvs/KvsClient.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/AwsErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/CctvErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/CctvSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/config/AwsConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/device/doamin/DeviceEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/device/repository/DeviceRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/device/repository/DeviceRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/group/domain/GroupEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/GroupRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/GroupRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/group/service/GroupService.java
  src/main/resources/application-key.yaml
Labels: feature

#71 refactor: Swagger 담당자 description 추가
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthApi.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvApi.java
  src/main/java/org/ioteatime/meonghanyangserver/group/controller/GroupApi.java
  src/main/java/org/ioteatime/meonghanyangserver/user/controller/UserApi.java
Labels: refactor

#75 refactor: User -> Member 키워드 변경
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthApi.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthController.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/reponse/LoginResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/mapper/AuthEntityMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/mapper/AuthResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
  src/main/java/org/ioteatime/meonghanyangserver/common/utils/JwtUtils.java
  src/main/java/org/ioteatime/meonghanyangserver/device/doamin/DeviceEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/device/dto/response/DeviceInfoResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/device/mapper/DeviceEntityMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/device/mapper/DeviceResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/device/repository/DeviceRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/device/repository/DeviceRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/device/repository/JpaDeviceRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/device/service/DeviceService.java
  src/main/java/org/ioteatime/meonghanyangserver/filter/JwtRequestFilter.java
  src/main/java/org/ioteatime/meonghanyangserver/group/controller/GroupApi.java
  src/main/java/org/ioteatime/meonghanyangserver/group/controller/GroupController.java
  src/main/java/org/ioteatime/meonghanyangserver/group/service/GroupService.java
  src/main/java/org/ioteatime/meonghanyangserver/member/controller/MemberApi.java
  src/main/java/org/ioteatime/meonghanyangserver/member/controller/MemberController.java
  src/main/java/org/ioteatime/meonghanyangserver/member/domain/MemberEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/member/dto/CustomUserDetail.java
  src/main/java/org/ioteatime/meonghanyangserver/member/dto/MemberDto.java
  src/main/java/org/ioteatime/meonghanyangserver/member/dto/request/ChangePasswordRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/member/dto/request/JoinRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/member/dto/response/MemberDetailResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/member/dto/response/MemberSimpleResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/member/mapper/MemberResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/member/repository/JpaMemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/member/repository/MemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/member/repository/MemberRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/member/service/MemberService.java
  src/main/java/org/ioteatime/meonghanyangserver/user/controller/UserController.java
  src/main/java/org/ioteatime/meonghanyangserver/user/dto/response/UserDetailResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/user/dto/response/UserSimpleResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/user/mapper/UserResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/user/repository/JpaUserRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/user/repository/UserRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/user/repository/UserRepositoryImpl.java
Labels: refactor

#78 fix: 테스트코드 user 도메인 이름 변경
  src/test/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvControllerTest.java
  src/test/java/org/ioteatime/meonghanyangserver/config/mock/WithCustomMockUserSecurityContextFactory.java
Labels: test

#82 fix: 회원가입 시 변경점 수정
  build.gradle
  src/main/java/org/ioteatime/meonghanyangserver/common/type/GroupErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/group/service/GroupService.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/service/GroupMemberService.java
Labels: fix

#85 feat: CICD 파이프라인 구축
  .github/workflows/deploy.yml
  scripts/Dockerfile
  scripts/docker-compose.yml
  src/main/java/org/ioteatime/meonghanyangserver/config/OpenApiConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/config/SecurityConfig.java
  src/main/resources/application-prod.yaml
Labels: feature

#87 Revert "feat: CICD 파이프라인 구축"
  .github/workflows/deploy.yml
  scripts/Dockerfile
  scripts/docker-compose.yml
  src/main/java/org/ioteatime/meonghanyangserver/config/OpenApiConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/config/SecurityConfig.java
  src/main/resources/application-prod.yaml
Labels: feature

#94 refactor: 도메인 변경으로 인한 CCTV 퇴출 코드 수정
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvApi.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvController.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/service/CctvService.java
  src/main/java/org/ioteatime/meonghanyangserver/config/RedisConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/service/GroupMemberService.java
  src/test/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvControllerTest.java
Labels: refactor

#95 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvApi.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvController.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/service/CctvService.java
  src/main/java/org/ioteatime/meonghanyangserver/config/RedisConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/service/GroupMemberService.java
  src/test/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvControllerTest.java
Labels: release

#96 feat: 방장 참여자 그룹 제외 요청 구현
  src/main/java/org/ioteatime/meonghanyangserver/common/type/GroupErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/GroupSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/controller/GroupMemberApi.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/controller/GroupMemberController.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/dto/response/GroupMemberInfoResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/mapper/GroupMemberResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/service/GroupMemberService.java
Labels: feature

#98 fix: Jira 워크플로우 삭제
  .github/ISSUE_TEMPLATE/1-test-issue-form.yml
  .github/ISSUE_TEMPLATE/2-feature-issue-form.yml
  .github/ISSUE_TEMPLATE/3-fix-issue-form.yml
  .github/ISSUE_TEMPLATE/4-refactor-issue-form.yml
  .github/workflows/close-jira-issue.yml
  .github/workflows/create-jira-issue.yml
Labels: fix

#100 fix: 협업툴 자동화 구현
  .github/workflows/close-issue.yml
  .github/workflows/create-issue.yml
Labels: fix

#101 test: 이슈 프로젝트 자동화 설정 이슈 템플릿 복구 (#97)
  .github/ISSUE_TEMPLATE/1-test-issue-form.yml
  .github/ISSUE_TEMPLATE/2-feature-issue-form.yml
  .github/ISSUE_TEMPLATE/3-fix-issue-form.yml
  .github/ISSUE_TEMPLATE/4-refactor-issue-form.yml
Labels: fix

#103 test: 이슈 프로젝트 선택지 ID 가져오는 코드 수정
  .github/workflows/create-issue.yml
Labels: test

#111 feat: FCM 푸시 알림 Topic 구독, 메시지 전송 구현
  .gitignore
  build.gradle
  scripts/docker-compose.yml
  src/main/java/org/ioteatime/meonghanyangserver/clients/google/FcmClient.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/FcmErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/FcmSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/controller/FcmApi.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/controller/FcmController.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/dto/request/SaveFcmTokenRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/service/FcmService.java
  src/main/resources/application-key.yaml
Labels: feature

#112 release: 서버 배포
  .github/workflows/close-issue.yml
  .github/workflows/create-issue.yml
  .gitignore
  build.gradle
  scripts/docker-compose.yml
  src/main/java/org/ioteatime/meonghanyangserver/clients/google/FcmClient.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/FcmErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/FcmSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/controller/FcmApi.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/controller/FcmController.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/dto/request/SaveFcmTokenRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/service/FcmService.java
  src/main/resources/application-key.yaml
Labels: release

#113 feat: 시크릿 파일 경로 수정
  src/main/java/org/ioteatime/meonghanyangserver/clients/google/FcmClient.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/google/GoogleMailClient.java
Labels: feature

#114 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/clients/google/FcmClient.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/google/GoogleMailClient.java
Labels: release

#116 feat: FCM 토큰 저장 구현
  src/main/java/org/ioteatime/meonghanyangserver/MeongHaNyangServerApplication.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/controller/FcmApi.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/controller/FcmController.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/service/FcmService.java
  src/main/java/org/ioteatime/meonghanyangserver/member/domain/MemberEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/member/repository/MemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/member/repository/MemberRepositoryImpl.java
Labels: feature

#117 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/MeongHaNyangServerApplication.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/controller/FcmApi.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/controller/FcmController.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/service/FcmService.java
  src/main/java/org/ioteatime/meonghanyangserver/member/domain/MemberEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/member/repository/MemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/member/repository/MemberRepositoryImpl.java
Labels: release

#119 feat: 이슈 담당자 자동 할당 워크플로우 이동
  .github/workflows/create-issue.yml
  .github/workflows/create-jira-issue.yml
Labels: fix

#123 feat: 방장 FCM Topic 구독 구현
  src/main/java/org/ioteatime/meonghanyangserver/group/service/GroupService.java
Labels: feature

#124 release: 서버 배포
  .github/workflows/create-issue.yml
  .github/workflows/create-jira-issue.yml
  src/main/java/org/ioteatime/meonghanyangserver/common/utils/RandomStringGenerator.java
  src/main/java/org/ioteatime/meonghanyangserver/group/domain/GroupEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/group/mapper/GroupEntityMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/group/service/GroupService.java
Labels: release

#126 feat: 참여자 방 나가기 구현
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/JpaCctvRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/GroupRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/group/repository/GroupRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/controller/GroupMemberApi.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/controller/GroupMemberController.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/JpaGroupMemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/service/GroupMemberService.java
Labels: feature

#131 fix: 그룹 생성 시 thing id 추가
  src/main/java/org/ioteatime/meonghanyangserver/group/controller/GroupApi.java
  src/main/java/org/ioteatime/meonghanyangserver/group/controller/GroupController.java
  src/main/java/org/ioteatime/meonghanyangserver/group/dto/request/CreateGroupRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/group/dto/response/GroupTotalResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/group/service/GroupService.java
Labels: fix

#137 feat: 그룹 ID와 참여자 역할 조회 구현
  src/main/java/org/ioteatime/meonghanyangserver/common/type/GroupSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/group/controller/GroupApi.java
  src/main/java/org/ioteatime/meonghanyangserver/group/controller/GroupController.java
  src/main/java/org/ioteatime/meonghanyangserver/group/dto/response/GroupResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/controller/GroupMemberApi.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/controller/GroupMemberController.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/dto/response/GroupMemberResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/service/GroupMemberService.java
Labels: feature

#139 fix: 이메일 인증 SES로 구현부 변경
  build.gradle
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/google/GoogleMailClient.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/ses/SesClient.java
  src/main/java/org/ioteatime/meonghanyangserver/config/AwsConfig.java
  src/main/resources/application-dev.yaml
  src/main/resources/application-key.yaml
Labels: fix

#140 feat: cctv 정보 목록 조회 구현
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvApi.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvController.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/domain/CctvEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/dto/response/CctvInfoListResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/dto/response/CctvInfoResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/service/CctvService.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/CctvSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/JpaGroupMemberRepository.java
Labels: feature

#136 feat: cctv 정보 조회 구현
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvDeviceApi.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvDeviceController.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/JpaCctvRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/service/CctvService.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/CctvSuccessType.java
Labels: feature

#143 feat: 방장의 참여자 정보 목록 조회 구현
  src/main/java/org/ioteatime/meonghanyangserver/cctv/dto/response/CctvInfoListResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/GroupErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/GroupSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/controller/GroupMemberApi.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/controller/GroupMemberController.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/doamin/GroupMemberEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/dto/response/GroupMemberInfoListResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/JpaGroupMemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/service/GroupMemberService.java
Labels: feature

#145 fix: FCM 토큰 갱신 updated_at 반영 안 되는 이슈 해결
  src/main/java/org/ioteatime/meonghanyangserver/member/domain/MemberEntity.java
  src/main/resources/application-prod.yaml
Labels: fix

#146 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvDeviceApi.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvDeviceController.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/dto/response/CctvInfoListResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/JpaCctvRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/service/CctvService.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/CctvSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/GroupErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/GroupSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/controller/GroupMemberApi.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/controller/GroupMemberController.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/doamin/GroupMemberEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/dto/response/GroupMemberInfoListResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/JpaGroupMemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/service/GroupMemberService.java
  src/main/java/org/ioteatime/meonghanyangserver/member/domain/MemberEntity.java
  src/main/resources/application-prod.yaml
Labels: release

#149 feat: IoT Core, MQTT 연결 구현
  build.gradle
  src/main/java/org/ioteatime/meonghanyangserver/MeongHaNyangServerApplication.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/iot/IotMqttClient.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/AwsErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/config/AwsConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/config/AwsProperties.java
  src/main/resources/application-dev.yaml
  src/main/resources/application-key.yaml
Labels: feature

#153 feat: 회원 탈퇴 연관관계 끊기 구현
  build.gradle
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/config/AwsConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/service/GroupMemberService.java
  src/main/java/org/ioteatime/meonghanyangserver/member/service/MemberService.java
  src/main/java/org/ioteatime/meonghanyangserver/video/repository/JpaVideoRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/video/repository/VideoRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/video/repository/VideoRepositoryImpl.java
Labels: feature

#155 feat: CCTV 퇴출 시 IoT Shadow 기능 추가
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvApi.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/service/CctvService.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/iot/IotShadowMqttClient.java
  src/main/java/org/ioteatime/meonghanyangserver/member/service/MemberService.java
Labels: feature

#158 feat: 닉네임과 그룹 이름 함께 변경 가능한 API 구현
  src/main/java/org/ioteatime/meonghanyangserver/common/type/AuthSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/GroupSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/group/domain/GroupEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/group/dto/response/UpdateNicknameAndGroupNameResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/group/mapper/GroupResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/member/controller/MemberApi.java
  src/main/java/org/ioteatime/meonghanyangserver/member/controller/MemberController.java
  src/main/java/org/ioteatime/meonghanyangserver/member/domain/MemberEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/member/dto/request/UpdateNicknameAndGroupNameRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/member/service/MemberService.java
Labels: feature

#160 feat: CCTV 이름 수정 구현
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvApi.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvController.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/domain/CctvEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/dto/request/UpdateCctvNickname.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/service/CctvService.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/CctvSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepositoryImpl.java
Labels: feature

#166 feat: MASTER 권한 확인 메서드 구현
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvController.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/mapper/CctvResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/service/CctvService.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/GroupErrorType.java
Labels: feature

#168 feat: 로그인 성공 시 그룹 가입 여부와 역할 응답
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/db/LoginWithMemberInfo.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/reponse/LoginResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/mapper/AuthResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
  src/main/java/org/ioteatime/meonghanyangserver/common/utils/JwtUtils.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/controller/GroupMemberApi.java
  src/main/java/org/ioteatime/meonghanyangserver/member/repository/MemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/member/repository/MemberRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/member/service/MemberService.java
  src/test/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvControllerTest.java
Labels: feature

#169 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/db/LoginWithMemberInfo.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/reponse/LoginResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/mapper/AuthResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvController.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/mapper/CctvResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/service/CctvService.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/GroupErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/utils/JwtUtils.java
  src/main/java/org/ioteatime/meonghanyangserver/group/dto/response/GroupTotalResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/group/mapper/GroupResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/controller/GroupMemberApi.java
  src/main/java/org/ioteatime/meonghanyangserver/member/repository/MemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/member/repository/MemberRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/member/service/MemberService.java
  src/test/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvControllerTest.java
Labels: release

#177 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/config/RedisConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/redis/RefreshToken.java
Labels: release

#179 fix: Redis 메모리 누수 오류 해결
  src/main/java/org/ioteatime/meonghanyangserver/config/RedisConfig.java
Labels: fix

#182 feat: 회원 상세 정보 조회 시 그룹 정보도 함께 조회
  src/main/java/org/ioteatime/meonghanyangserver/member/controller/MemberApi.java
  src/main/java/org/ioteatime/meonghanyangserver/member/controller/MemberController.java
  src/main/java/org/ioteatime/meonghanyangserver/member/dto/response/GroupDetailResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/member/dto/response/MemberWithGroupDetailResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/member/mapper/MemberResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/member/service/MemberService.java
Labels: feature

#183 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/member/controller/MemberApi.java
  src/main/java/org/ioteatime/meonghanyangserver/member/controller/MemberController.java
  src/main/java/org/ioteatime/meonghanyangserver/member/dto/response/GroupDetailResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/member/dto/response/MemberWithGroupDetailResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/member/mapper/MemberResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/member/service/MemberService.java
Labels: release

#188 feat: Logging 설정 추가
  build.gradle
  src/main/java/org/ioteatime/meonghanyangserver/common/slack/SlackEnum.java
  src/main/java/org/ioteatime/meonghanyangserver/common/slack/SlackService.java
  src/main/java/org/ioteatime/meonghanyangserver/config/SecurityConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/filter/ExceptionHandlerFilter.java
  src/main/java/org/ioteatime/meonghanyangserver/handler/ApiExceptionHandler.java
  src/main/java/org/ioteatime/meonghanyangserver/member/controller/MemberApi.java
  src/main/resources/application-db.yaml
  src/main/resources/application-key.yaml
  src/main/resources/logback.xml
Labels: feature

#191 fix: Video thumbnail entity 제거
  src/main/java/org/ioteatime/meonghanyangserver/videothumbnail/domain/VideoThumbnailEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/videothumbnail/repository/JpaVideoThumbnailRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/videothumbnail/repository/VideoThumbnailRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/videothumbnail/repository/VideoThumbnailRepositoryImpl.java
Labels: fix

#192 release: 서버 배포
  build.gradle
  gradlew
  src/main/java/org/ioteatime/meonghanyangserver/common/slack/SlackEnum.java
  src/main/java/org/ioteatime/meonghanyangserver/common/slack/SlackService.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/GroupErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/VideoSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/utils/JwtUtils.java
  src/main/java/org/ioteatime/meonghanyangserver/config/SecurityConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/filter/ExceptionHandlerFilter.java
  src/main/java/org/ioteatime/meonghanyangserver/handler/ApiExceptionHandler.java
  src/main/java/org/ioteatime/meonghanyangserver/member/controller/MemberApi.java
  src/main/java/org/ioteatime/meonghanyangserver/video/controller/VideoApi.java
  src/main/java/org/ioteatime/meonghanyangserver/video/controller/VideoController.java
  src/main/java/org/ioteatime/meonghanyangserver/video/domain/VideoEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/video/dto/response/VideoInfoListResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/video/dto/response/VideoInfoResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/video/mapper/VideoResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/video/repository/VideoRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/video/repository/VideoRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/video/service/VideoService.java
  src/main/resources/application-db.yaml
  src/main/resources/application-key.yaml
  src/main/resources/logback.xml
Labels: release

#194 fix: 가입 그룹이 없는 경우 회원 탈퇴 성공하도록 수정
  src/main/java/org/ioteatime/meonghanyangserver/member/controller/MemberApi.java
  src/main/java/org/ioteatime/meonghanyangserver/member/controller/MemberController.java
  src/main/java/org/ioteatime/meonghanyangserver/member/service/MemberService.java
Labels: fix

#195 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/member/controller/MemberApi.java
  src/main/java/org/ioteatime/meonghanyangserver/member/controller/MemberController.java
  src/main/java/org/ioteatime/meonghanyangserver/member/service/MemberService.java
Labels: release

#197 fix: cctv 생성 응답 수정
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvDeviceApi.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvDeviceController.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/dto/response/CreateCctvResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/mapper/CctvResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/service/CctvService.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/CctvSuccessType.java
Labels: fix

#198 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvDeviceApi.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvDeviceController.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/dto/response/CreateCctvResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/mapper/CctvResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/service/CctvService.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/CctvSuccessType.java
Labels: release

#201 fix: 데이터베이스 초기화
  src/main/resources/application-prod.yaml
Labels: fix

#202 release: 서버 배포
  src/main/resources/application-prod.yaml
Labels: release

#203 fix: 리소스 제거 코드 주석
  .github/workflows/deploy.yml
Labels: fix

#204 release: 서버 배포
  .github/workflows/deploy.yml
Labels: release

#205 fix: 리소스 제거 코드 주석
  .github/workflows/deploy.yml
Labels: fix

#206 release: 서버 배포
  .github/workflows/deploy.yml
Labels: release

#209 fix: 그룹 회원 추가 시 기존 그룹 회원 정보가 덮어 씌워지는 문제 해결 및 의존성 수정
  .github/workflows/deploy.yml
  src/main/java/org/ioteatime/meonghanyangserver/group/service/GroupService.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/controller/GroupMemberApi.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/controller/GroupMemberController.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/doamin/GroupMemberEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/service/GroupMemberService.java
  src/main/resources/application-prod.yaml
Labels: fix

#208 feat: 임시 비밀번호 발급 api 구현
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthApi.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthController.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/request/IssuePasswordRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/AuthSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/member/domain/MemberEntity.java
Labels: feature

#210 release: 서버 배포
  .github/workflows/deploy.yml
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthApi.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthController.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/request/IssuePasswordRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/AuthSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/group/service/GroupService.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/controller/GroupMemberApi.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/controller/GroupMemberController.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/doamin/GroupMemberEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/service/GroupMemberService.java
  src/main/java/org/ioteatime/meonghanyangserver/member/domain/MemberEntity.java
  src/main/resources/application-prod.yaml
Labels: release

#212 feat: KVS 채널 삭제 시 shadow 업데이트할 수 있는 객체 추가
  src/main/java/org/ioteatime/meonghanyangserver/clients/iot/IotShadowMqttClient.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/IoTErrorType.java
Labels: bug, fix

#213 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/clients/iot/IotShadowMqttClient.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/IoTErrorType.java
Labels: release

#215 fix: 회원 탈퇴 FK 연관 관계로 인한 오류 수정
  src/main/java/org/ioteatime/meonghanyangserver/member/service/MemberService.java
Labels: fix, 🚨emergency🚨

#216 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/member/service/MemberService.java
Labels: release, 🚨emergency🚨

#217 fix: 회원 탈퇴 FK 연관 관계로 인한 오류 수정
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/JpaGroupMemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/member/service/MemberService.java
Labels: fix, 🚨emergency🚨

#218 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/JpaGroupMemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/member/service/MemberService.java
Labels: release

#220 fix: 생성자 정의 불일치 해결
  src/main/java/org/ioteatime/meonghanyangserver/cctv/domain/CctvEntity.java
Labels: fix

#221 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/cctv/domain/CctvEntity.java
Labels: release, 🚨emergency🚨

#223 feat: 그룹 FCM Topic 조회 구현
  src/main/java/org/ioteatime/meonghanyangserver/common/type/FcmSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/controller/FcmApi.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/controller/FcmController.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/dto/response/FcmTopicResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/mapper/FcmMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/service/FcmService.java
  src/main/java/org/ioteatime/meonghanyangserver/group/service/GroupService.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/service/GroupMemberService.java
Labels: feature

#225 fix: 토픽 재구독 구현
  src/main/java/org/ioteatime/meonghanyangserver/clients/google/FcmClient.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/service/FcmService.java
Labels: feature

#224 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/clients/google/FcmClient.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/FcmSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/controller/FcmApi.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/controller/FcmController.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/dto/response/FcmTopicResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/mapper/FcmMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/service/FcmService.java
  src/main/java/org/ioteatime/meonghanyangserver/group/service/GroupService.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/repository/GroupMemberRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/service/GroupMemberService.java
Labels: release

#226 fix: 토픽 재구독 예외 처리 추가
  src/main/java/org/ioteatime/meonghanyangserver/fcm/service/FcmService.java
Labels: feature, 🚨emergency🚨

#227 fix: spotless 적용
  src/main/java/org/ioteatime/meonghanyangserver/fcm/service/FcmService.java
Labels: feature

#228 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/fcm/service/FcmService.java
Labels: release
