Repository IoTeaTime/meong-ha-nyang-server, pull requests merged in 2024-12, with the labels that each got.

#236 feat: 로그인 성공 시 그룹 ID 응답 추가
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/db/LoginWithMemberInfo.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/reponse/LoginResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/mapper/AuthResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
  src/main/java/org/ioteatime/meonghanyangserver/member/repository/MemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/member/repository/MemberRepositoryImpl.java
Labels: feature

#237 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/db/LoginWithMemberInfo.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/reponse/LoginResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/mapper/AuthResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
  src/main/java/org/ioteatime/meonghanyangserver/member/repository/MemberRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/member/repository/MemberRepositoryImpl.java
Labels: release

#230 feat: 오래된 video 데이터 DB, S3 삭제 배치 구현
  build.gradle
  src/main/java/org/ioteatime/meonghanyangserver/MeongHaNyangServerApplication.java
  src/main/java/org/ioteatime/meonghanyangserver/batch/job/media/MediaDeleteJobExecutionListener.java
  src/main/java/org/ioteatime/meonghanyangserver/batch/job/media/MediaItemProcessor.java
  src/main/java/org/ioteatime/meonghanyangserver/batch/job/media/MediaItemReader.java
  src/main/java/org/ioteatime/meonghanyangserver/batch/job/media/MediaItemWriter.java
  src/main/java/org/ioteatime/meonghanyangserver/batch/job/media/OldMediaDeleteJobConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/batch/scheduler/BatchScheduler.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/s3/S3Client.java
  src/main/java/org/ioteatime/meonghanyangserver/video/domain/VideoEntity.java
  src/main/resources/application-db.yaml
  src/main/resources/application-key.yaml
Labels: feature

#232 feat: 글로벌 예외 처리 기능 추가
  src/main/java/org/ioteatime/meonghanyangserver/clients/kvs/KvsClient.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/CommonErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/handler/GlobalExceptionHandler.java
  src/test/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvControllerTest.java
  src/test/resources/application-db.yaml
  src/test/resources/application-key.yaml
Labels: feature

#234 feat: CloudWatch 로그 연결
  build.gradle
  scripts/docker-compose.yml
  src/main/java/org/ioteatime/meonghanyangserver/clients/google/FcmClient.java
  src/main/resources/application-dev.yaml
  src/main/resources/console-logging.xml
  src/main/resources/file-logging.xml
  src/main/resources/logback-spring.xml
Labels: feature

#238 release: 서버 배포
  build.gradle
  scripts/docker-compose.yml
  src/main/java/org/ioteatime/meonghanyangserver/MeongHaNyangServerApplication.java
  src/main/java/org/ioteatime/meonghanyangserver/batch/job/media/MediaDeleteJobExecutionListener.java
  src/main/java/org/ioteatime/meonghanyangserver/batch/job/media/MediaItemProcessor.java
  src/main/java/org/ioteatime/meonghanyangserver/batch/job/media/MediaItemReader.java
  src/main/java/org/ioteatime/meonghanyangserver/batch/job/media/MediaItemWriter.java
  src/main/java/org/ioteatime/meonghanyangserver/batch/job/media/OldMediaDeleteJobConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/batch/scheduler/BatchScheduler.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/google/FcmClient.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/kvs/KvsClient.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/s3/S3Client.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/CommonErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/handler/GlobalExceptionHandler.java
  src/main/java/org/ioteatime/meonghanyangserver/video/domain/VideoEntity.java
  src/main/resources/application-db.yaml
  src/main/resources/application-dev.yaml
  src/main/resources/application-key.yaml
  src/main/resources/console-logging.xml
  src/main/resources/file-logging.xml
  src/main/resources/logback-spring.xml
  src/test/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvControllerTest.java
  src/test/resources/application-db.yaml
  src/test/resources/application-key.yaml
Labels: release

#244 feat: 날짜별 그룹 이미지 목록 조회 구현
  src/main/java/org/ioteatime/meonghanyangserver/common/type/ImageSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/image/controller/ImageApi.java
  src/main/java/org/ioteatime/meonghanyangserver/image/controller/ImageController.java
  src/main/java/org/ioteatime/meonghanyangserver/image/dto/response/GroupDateImageResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/image/dto/response/ImageResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/image/mapper/ImageResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/image/repository/ImageJpaRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/image/repository/ImageRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/image/repository/ImageRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/image/service/ImageService.java
  src/main/resources/application-prod.yaml
Labels: feature

#245 feat: image 저장을 위한 Presigned-url 생성 구현
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/ImageErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/ImageSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/image/controller/ImageDeviceApi.java
  src/main/java/org/ioteatime/meonghanyangserver/image/controller/ImageDeviceController.java
  src/main/java/org/ioteatime/meonghanyangserver/image/dto/response/ImageSaveUrlResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/image/mapper/ImageResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/image/service/ImageService.java
Labels: feature

#248 feat: CCTV AT 구현
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvApi.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvController.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvDeviceApi.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvDeviceController.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/dto/response/CreateCctvResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/mapper/CctvResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/service/CctvService.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/s3/S3Client.java
  src/main/java/org/ioteatime/meonghanyangserver/common/constant/JwtTokenType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/AuthErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/CctvErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/VideoSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/utils/JwtCctvUtils.java
  src/main/java/org/ioteatime/meonghanyangserver/common/utils/JwtUtils.java
  src/main/java/org/ioteatime/meonghanyangserver/config/SecurityConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/filter/JwtRequestFilter.java
  src/main/java/org/ioteatime/meonghanyangserver/image/controller/ImageDeviceApi.java
  src/main/java/org/ioteatime/meonghanyangserver/image/controller/ImageDeviceController.java
  src/main/java/org/ioteatime/meonghanyangserver/image/dto/request/ImageNameRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/image/service/ImageService.java
  src/main/java/org/ioteatime/meonghanyangserver/member/dto/CustomCctvDetail.java
  src/main/java/org/ioteatime/meonghanyangserver/video/controller/VideoApi.java
  src/main/java/org/ioteatime/meonghanyangserver/video/controller/VideoController.java
  src/main/java/org/ioteatime/meonghanyangserver/video/controller/VideoDeviceApi.java
  src/main/java/org/ioteatime/meonghanyangserver/video/controller/VideoDeviceController.java
  src/main/java/org/ioteatime/meonghanyangserver/video/dto/request/VideoNameRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/video/service/VideoService.java
  src/main/resources/application-key.yaml
Labels: feature

#256 feat: 객체 탐지 푸시 알림 구현
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/iot/AIDetectClient.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/IoTErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/image/controller/ImageDeviceApi.java
  src/main/java/org/ioteatime/meonghanyangserver/member/service/MemberService.java
Labels: feature

#257 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/iot/AIDetectClient.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/ImageSuccessType.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/IoTErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/image/controller/ImageDeviceApi.java
  src/main/java/org/ioteatime/meonghanyangserver/image/controller/ImageDeviceController.java
  src/main/java/org/ioteatime/meonghanyangserver/image/domain/ImageEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/image/dto/request/FinishUploadRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/image/dto/response/ImageSaveUrlResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/image/mapper/ImageResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/image/repository/ImageRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/image/repository/ImageRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/image/service/ImageService.java
  src/main/java/org/ioteatime/meonghanyangserver/member/service/MemberService.java
Labels: release

#259 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvDeviceApi.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvDeviceController.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/dto/db/CctvWithGroupId.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/dto/response/CctvSelfInfoResponse.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/mapper/CctvResponseMapper.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/service/CctvService.java
Labels: release

#260 fix: AWS IoT MQTT 와일드카드 표기 수정
  src/main/java/org/ioteatime/meonghanyangserver/clients/iot/AIDetectClient.java
Labels: fix

#263 fix: cctv 정보 조회 kvs channel name과 thing id값 위치 변경
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepositoryImpl.java
Labels: feature

#264 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/cctv/repository/CctvRepositoryImpl.java
Labels: release

#269 feat: 객체에 따라 객체 푸시 알림 내용 작성 구현
  src/main/java/org/ioteatime/meonghanyangserver/clients/iot/AIDetectClient.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/iot/dto/AIDetectPayload.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/iot/dto/AIObject.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/iot/dto/Coordinates.java
Labels: feature

#270 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/clients/iot/AIDetectClient.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/iot/dto/AIDetectPayload.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/iot/dto/AIObject.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/iot/dto/Coordinates.java
  src/main/java/org/ioteatime/meonghanyangserver/config/AwsConfig.java
Labels: release

#272 fix: 그룹 탈퇴 및 회원 탈퇴 시 이미지 목록 삭제 로직 추가
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/service/GroupMemberService.java
  src/main/java/org/ioteatime/meonghanyangserver/image/domain/ImageEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/image/repository/ImageJpaRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/image/repository/ImageRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/image/repository/ImageRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/member/service/MemberService.java
Labels: feature

#273 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/service/GroupMemberService.java
  src/main/java/org/ioteatime/meonghanyangserver/image/domain/ImageEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/image/repository/ImageJpaRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/image/repository/ImageRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/image/repository/ImageRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/member/service/MemberService.java
Labels: release

#275 feat: 삭제될 이미지 관리 로직 변경
  src/main/java/org/ioteatime/meonghanyangserver/batch/job/image/ImageDeleteJobExecutionListener.java
  src/main/java/org/ioteatime/meonghanyangserver/batch/job/image/ImageItemReader.java
  src/main/java/org/ioteatime/meonghanyangserver/batch/job/image/OldImageDeleteJobConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/batch/scheduler/BatchScheduler.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/service/GroupMemberService.java
  src/main/java/org/ioteatime/meonghanyangserver/image/domain/ImageEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/image/repository/ImageRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/image/repository/ImageRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/member/service/MemberService.java
Labels: feature

#276 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/batch/job/image/ImageDeleteJobExecutionListener.java
  src/main/java/org/ioteatime/meonghanyangserver/batch/job/image/ImageItemReader.java
  src/main/java/org/ioteatime/meonghanyangserver/batch/job/image/OldImageDeleteJobConfig.java
  src/main/java/org/ioteatime/meonghanyangserver/batch/scheduler/BatchScheduler.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/service/GroupMemberService.java
  src/main/java/org/ioteatime/meonghanyangserver/image/domain/ImageEntity.java
  src/main/java/org/ioteatime/meonghanyangserver/image/repository/ImageRepository.java
  src/main/java/org/ioteatime/meonghanyangserver/image/repository/ImageRepositoryImpl.java
  src/main/java/org/ioteatime/meonghanyangserver/member/service/MemberService.java
Labels: release

#278 feat: 이메일 인증 코드 전송 구현부 Gmail API로 전환
  build.gradle
  scripts/docker-compose.yml
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/google/GoogleMailClient.java
  src/main/resources/application-key.yaml
Labels: feature

#279 release: 서버 배포
  build.gradle
  scripts/docker-compose.yml
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
  src/main/java/org/ioteatime/meonghanyangserver/clients/google/GoogleMailClient.java
  src/main/resources/application-key.yaml
Labels: release

#281 fix: IoT ClientId Unique 설정
  src/main/java/org/ioteatime/meonghanyangserver/config/AwsConfig.java
Labels: fix

#282 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/config/AwsConfig.java
Labels: release

#284 fix: Gmail 클라이언트 시크릿 파일명 수정, 알림 내용 수정
  scripts/docker-compose.yml
  src/main/java/org/ioteatime/meonghanyangserver/clients/iot/AIDetectClient.java
Labels: fix

#285 release: 서버 배포
  scripts/docker-compose.yml
  src/main/java/org/ioteatime/meonghanyangserver/clients/iot/AIDetectClient.java
Labels: release

#286 fix: 인증 토큰 연결
  scripts/docker-compose.yml
Labels: fix

#287 release: 서버 배포
  scripts/docker-compose.yml
Labels: release

#289 feat: 요청 body validation check 추가
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthApi.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthController.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/request/LoginRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/request/VerifyEmailRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvApi.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvController.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvDeviceApi.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvDeviceController.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/CommonErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/controller/FcmApi.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/controller/FcmController.java
  src/main/java/org/ioteatime/meonghanyangserver/filter/ExceptionHandlerFilter.java
  src/main/java/org/ioteatime/meonghanyangserver/group/controller/GroupApi.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/controller/GroupMemberApi.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/controller/GroupMemberController.java
  src/main/java/org/ioteatime/meonghanyangserver/handler/ApiExceptionHandler.java
  src/main/java/org/ioteatime/meonghanyangserver/handler/CustomLogoutSuccessHandler.java
  src/main/java/org/ioteatime/meonghanyangserver/handler/GlobalExceptionHandler.java
  src/main/java/org/ioteatime/meonghanyangserver/image/controller/ImageApi.java
  src/main/java/org/ioteatime/meonghanyangserver/image/controller/ImageDeviceApi.java
  src/main/java/org/ioteatime/meonghanyangserver/image/controller/ImageDeviceController.java
  src/main/java/org/ioteatime/meonghanyangserver/member/controller/MemberApi.java
  src/main/java/org/ioteatime/meonghanyangserver/member/controller/MemberController.java
  src/main/java/org/ioteatime/meonghanyangserver/video/controller/VideoApi.java
  src/main/java/org/ioteatime/meonghanyangserver/video/controller/VideoDeviceApi.java
  src/main/java/org/ioteatime/meonghanyangserver/video/controller/VideoDeviceController.java
Labels: feature

#290 release: 서버 배포
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthApi.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/controller/AuthController.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/request/LoginRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/dto/request/VerifyEmailRequest.java
  src/main/java/org/ioteatime/meonghanyangserver/auth/service/AuthService.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvApi.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvController.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvDeviceApi.java
  src/main/java/org/ioteatime/meonghanyangserver/cctv/controller/CctvDeviceController.java
  src/main/java/org/ioteatime/meonghanyangserver/common/type/CommonErrorType.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/controller/FcmApi.java
  src/main/java/org/ioteatime/meonghanyangserver/fcm/controller/FcmController.java
  src/main/java/org/ioteatime/meonghanyangserver/filter/ExceptionHandlerFilter.java
  src/main/java/org/ioteatime/meonghanyangserver/group/controller/GroupApi.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/controller/GroupMemberApi.java
  src/main/java/org/ioteatime/meonghanyangserver/groupmember/controller/GroupMemberController.java
  src/main/java/org/ioteatime/meonghanyangserver/handler/ApiExceptionHandler.java
  src/main/java/org/ioteatime/meonghanyangserver/handler/CustomLogoutSuccessHandler.java
  src/main/java/org/ioteatime/meonghanyangserver/handler/GlobalExceptionHandler.java
  src/main/java/org/ioteatime/meonghanyangserver/image/controller/ImageApi.java
  src/main/java/org/ioteatime/meonghanyangserver/image/controller/ImageDeviceApi.java
  src/main/java/org/ioteatime/meonghanyangserver/image/controller/ImageDeviceController.java
  src/main/java/org/ioteatime/meonghanyangserver/member/controller/MemberApi.java
  src/main/java/org/ioteatime/meonghanyangserver/member/controller/MemberController.java
  src/main/java/org/ioteatime/meonghanyangserver/video/controller/VideoApi.java
  src/main/java/org/ioteatime/meonghanyangserver/video/controller/VideoDeviceApi.java
  src/main/java/org/ioteatime/meonghanyangserver/video/controller/VideoDeviceController.java
Labels: release
